{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg">

{% include 'includes/message.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/dashboardside.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change Password</strong>
			
		</header>
		<div class="card-body">
            
            
			<div class="row">
			<div class="col-md-12">
					<form action="{% url 'changepassword'%}"method="POST">
                        {% csrf_token %}						
					     
                                                       					                              
                            <div class = "form-group mb-3">
                                <label>Current Password</label>
                                <input type = "password" name="currentpassword"	placeholder="Enter Current Password" class="form-control" required>													
						    </div>
                            <div class = "form-group mb-3">
                                <label>Enter new password</label>
                                <input type = "password" name="newpassword"	placeholder="Enter new Password" class="form-control" required>													
						    </div>
                            <div class = "form-group mb-3">
                                <label>Confirm new password</label>
                                <input type = "password" name="confirmpassword"	placeholder="Confirm new Password" class="form-control" required>													
						    </div>                             
					                                 					                              
                                                        
					     </div>
                         <input type = "submit" value = "submit" class = "btn btn-primary mt-3">
                    </form>
                    {% include 'includes/message.html' %}
            </div>											
			</div>
        </div> 
		
				 
		</article> 
	</main>
</div> 
</div>



</section>

{% endblock %}