{% extends 'base.html' %}


{% block content %}

<section class="section-content padding-y bg">

{% include 'includes/message.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/dashboardside.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Logged in as:</strong>
			<span>{{ user.username }}</span>
		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				
					<div class="card"style="text-align:center;">						
					     <div class="card-body">
							<h5 class="card-title">Total orders</h5>
							<h4>{{order_count}}</h4>
							
							
							

							
							
						 </div>
					</div>
					<div class="card"style="text-align:center;">						
						<div class="card-body">
						   <img src="http://www.w3schools.com/howto/img_avatar.png" alt="User Profile Picture"width="50"height="50"style="border-radius:50%;">
						   <p class="mb-0">{{ user.email }}</p>
						   <p>{{ user.phone_number }}</p>
						   <p>Name :{{ profile.first_name }} {{ profile.last_name }}</p>			   
						</div>
					   </div>
				
			</div> 
		
		
			</div>
		</div>		 
		</article> 
	</main>
</div> 
</div>



</section>

{% endblock %}