{% extends 'admin/adminbase.html' %}
{% block content %}

<div class="table-responsive">
    <table class="table text-start align-middle table-bordered table-hover mb-0">
        <thead>
            <tr class="text-white">
                <th scope="col">Category Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        
        <tbody>
            {% for Category in Categories %}
            <tr>
            
                        
                <td class="align-middle">{{Category.category_name}}</td>
                
                <td>{{Category.description}}</td>
                <td><img class="rounded-circle" src={{ Category.cat_img.url }} alt="" style="width: 65px; height: 65px;"></td>
                
                <td>
                    <a href="{% url 'editcategory' Category.id %}"><button class="btn btn-success m-2" type="button">Edit</button></a>
                </td>
                <td>
                    <a href="{% url 'dltcategory' Category.id %} "><button class="btn btn-primary m-2" type="button">Delete</button></a>
                </td>
                    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'addcategory'  %} "><button class="btn btn-primary m-2" type="button">Add category</button></a>
</div>


{% endblock %}