{% extends 'admin/adminbase.html' %}
{% block content %}
<div class="col-12">
    <div class="bg-white rounded h-100 p-4">
        
        <div class="table-responsive">
            <table class="table table-bordered align-items-center">
                <thead>
                    <tr class="text-dark ">
                        
                        <th scope="col">Category Name</th>
                        
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        
                    </tr>
                </thead>
                <tbody class = "text-dark ">
                    {% for Category in Categories %}
                    <tr>
                        
                        <td>{{Category.category_name}}</td>
                        
                        <td>{{Category.description}}</td>
                        <td><img class="rounded-circle" src={{ Category.cat_img.url }} alt="" style="width: 140px; height: 160px;">
                        
                        <td>
                            <a href="{% url 'editcategory' Category.id %}"><button class="btn btn-success m-2" type="button">Edit</button></a>
                        </td>
                        <td>
                            <a href="{% url 'dltcategory' Category.id %} "><button class="btn btn-primary m-2" type="button">Delete</button></a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                    
                    
                </tbody>
            </table>
            <a href="{% url 'addcategory' %}"><button class="btn btn-secondary m-2" type="button">Add Category</button></a>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}