{% extends 'admin/adminbase.html' %}
{% block content %}

        
        <div class="table-responsive">
            <table class="table table-bordered align-items-center">
                <thead>
                    <tr class="text-white ">
                        
                        <th scope="col">Username</th>
                        
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class = "text-white ">
                    {% for user in Users %}
                    <tr>
                        
                        <td>{{user.username}}</td>
                        
                        <td>{{user.email}}</td>
                        <td>{{user.phone_number}}</td>
                        {% if user.is_active %}
                        <td class = text-success>Active</td>
                        {% else %}
                        <td class = text-danger>Blocked</td>
                        {% endif %}
                        
                        <td>
                        {% if user.id in ordered_users %}
                            <p>Order arriving</p>
                        {% else %}
                            {% if user.is_active %}
                                <a href="{% url 'blockuser'  user.id 'block' %}"><button class="btn btn-primary m-2"  type="button">Block</button></a>
                            {% else %}
                                <a href="{% url 'blockuser'  user.id 'unblock' %}"><button class="btn btn-success m-2" type="button">Unblock</button></a>
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
