{% extends 'admin/adminbase.html' %}
{% block content %}

        
        <div class="table-responsive">
            <table class="table">
                <thead>

                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Stock available</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Product in Products %}
                    <tr>
                        
                        <td>{{Product.id}}</td> 
                        <td><img class="rounded-circle" src={{ Product.image.url }} alt="" style="width: 65px; height: 65px;">
                            
                        </td>
                        <td>{{Product.product_name}}</td>
                        <td>{{Product.stock}}</td>
                        <td>{{Product.category}}</td>
                        <td>${{Product.price}}</td>
                        
                        <td>
                            {% if Product.stock %}
                            <span>Available</span>
                            {% else %}
                            <span>Out of stock</span>
                            {% endif%}
                        </td>
                        <td>
                            <a href="{% url 'editproduct' Product.id %}"><button class="btn btn-success m-2" type="button">Edit</button></a>
                        </td>
                        <td>
                            <a href="{% url 'dltproduct' Product.id %}"><button class="btn btn-primary m-2" type="button">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'addproduct'%}"><button class="btn btn-secondary m-2" type="button">Add product</button></a>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}