<aside class="col-md-3">
		
    <ul class="list-group">
        <a class="list-group-item {% if '/accounts/' == request.path %}active{% endif %}" href ="{% url 'dashboard'%}">Dashboard </a>        
        <a class="list-group-item {% if '/editprofile/' == request.path %}active{% endif %}" href ="{% url 'editprofile'%}">Edit Profile </a> 
        <a class="list-group-item {% if '/changepassword/' == request.path %}active{% endif %}" href ="{% url 'changepassword'%}">Change Password </a>
        <a class="list-group-item {% if '/addaddress/' == request.path %}active{% endif %}" href ="{% url 'addaddress'%}">Add address </a>
        <a class="list-group-item {% if '/orderdetails/' == request.path %}active{% endif %}" href ="{% url 'orderdetails'%}">Order Details </a>
        <!--<a class="list-group-item" href="#">My orders </a>-->
        
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a>
    
</aside>