{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="shop-details">
    <div class="product__details__pic">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="product__details__breadcrumb">
    <a href={% url 'Homepage' %}>Home</a>
    <a href={% url 'store' %}>Shop</a>
    <span>Product Details</span>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-3 col-md-3">
    <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
    <div class="product__thumb__pic set-bg" data-setbg="{{ single_product.image.url }}">
    </div>
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
    <div class="product__thumb__pic set-bg" data-setbg="{% static 'img/shop-details/product-big-3.png' %}">
    </div>
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
    <div class="product__thumb__pic set-bg" data-setbg="{% static 'img/shop-details/product-big.png' %}">
    </div>
    </a>
    </li>
    
     </ul>
    </div>
    <div class="col-lg-6 col-md-9">
        <form action = "{% url 'add_cart' single_product.id %}" method ="POST">
            {% csrf_token %}
    <div class="tab-content">
    <div class="tab-pane active" id="tabs-1" role="tabpanel">
    <div class="product__details__pic__item">
    <img src="{{ single_product.image.url }}" alt="">
    </div>
    </div>
    <div class="tab-pane" id="tabs-2" role="tabpanel">
    <div class="product__details__pic__item">
    <img src="{% static 'img/shop-details/product-big-3.png' %}" alt="">
    </div>
    </div>
    <div class="tab-pane" id="tabs-3" role="tabpanel">
    <div class="product__details__pic__item">
    <img src="{% static 'img/shop-details/product-big.png' %}" alt="">
    </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="product__details__content">
        
    <div class="container">
    <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
    <div class="product__details__text">
    <h4>{{ single_product.product_name }} </h4>
    
    <h3>${{  single_product.price }} </h3>
    <p>{{ single_product.description }}</p>
    <div class="product__details__option">
    <div class="d-flex justify-content-center align-items-center mb-4" >
    
    <div class='me-4' >
        
    <select name="size"  required>
        <option value = ""diasbled selected>Choose size</option>
        {% for i in single_product.variation_set.sizes %}
        <option value = "{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
        {% endfor %}
        
        
    </select>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        {% if single_product.stock <= 0 %}
        <h4 class ="text-danger mt-2">Out of Stock</h4>
        {% else %}        
            
        <button type = "submit" class="primary-btn">add to cart<i class = "fas fa-shopping-cart"></i></button>
        
        {% endif %}
        </div>
    </div>
    </form>
    
    <div class="product__details__btns__option">
    
    
    </div>
    <div class="product__details__last__option">
    <h5><span>Guaranteed Safe Checkout</span></h5>
    <img src="img/shop-details/details-payment.png" alt="">
                
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

{% endblock %}



