{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="breadcrumb-option">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="breadcrumb__text">
    <h4>Shop</h4>
    <div class="breadcrumb__links">
    <a href="{% url 'Homepage' %}">Home</a>
    <span>Shop</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="shop spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-3">
    <div class="shop__sidebar">
    <div class="shop__sidebar__search">
    <form action="{% url 'search'%}" method = "GET">
    <input type="text" class = "form-control" placeholder="Search product" name = "keyword">
    <button type="submit"><span class="icon_search"></span></button>
    </form>
    </div>
    <div class="shop__sidebar__accordion">
    <div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-heading">
    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
    <div class="card-body">
    <div class="shop__sidebar__categories">
        <a class="dropdown-item" href="{% url 'store' %}">All products</a> 
    {% for category in links %}
    
     <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>    
    
    {% endfor %}
    </div>
    </div>
    </div>
    </div>
    
    <div class="card">
    <div class="card-heading">
    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
    </div>
    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
    <div class="card-body">
    <div class="shop__sidebar__price">
    <ul>
    <li><a href="{% url 'filter_price' 0 50  %}">$0.00 - $50.00</a></li>
    <li><a href="{% url 'filter_price' 50 100  %}">$50.00 - $100.00</a></li>
    <li><a href="{% url 'filter_price' 100 150  %}">$100.00 - $150.00</a></li>
    <li><a href="{% url 'filter_price' 150 200  %}">$150.00 - $200.00</a></li>
    <li><a href="{% url 'filter_price' 200 250  %}">$200.00 - $250.00</a></li>
    
    </ul>
    </div>
    </div>
    </div>
    </div>
    
    
        </div>
    </div>
    </div>
    </div>
    <div class="col-lg-9">
    <div class="shop__product__option">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="shop__product__option__left">
    <p>Showing available <b>{{ product_count }} products</b></p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="shop__product__option__right">
    
    
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="product__item">
    <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
    <ul class="product__hover">
    <li><a href="{% url 'addwish' product.id %}"><img src="{% static 'img/icon/heart.png' %}" alt="Wishlist"></a></li>
    
    
    </ul>
    </div>
    <div class="product__item__text">
    <h6>{{ product.product_name }}</h6>
    <a href={{ product.get_url }} class="add-cart">View Details</a>
   
    <h5>${{ product.price }}</h5>
    <h5>
        {% if product.discount_price != product.price %}
    <p class="card-text text-success font-weight-bold">
        <del>${{ product.price }}</del> ${{ product.discount_price }}
    </p>
{% endif %}
    </h5>
   
    
    
    
    </div>
    </div>
    </div>
    {% endfor %}    
    </div>
    </div>
    <nav class="mt-4 d-flex justify-content-center" aria-label="Page navigation sample">
        {% if products.has_other_pages %}
          <ul class="pagination">
                {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}
    
                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
            {% endfor %}
    
                {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
          </ul>
        {% endif %}
    </nav>
    </div>
    </div>
    </div>
    </section>

{% endblock %}