{% extends 'base.html' %}
{% block content %}

<section class="breadcrumb-option">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="breadcrumb__text">
    <h4>Check Out</h4>
    <div class="breadcrumb__links">
    <a href="index-2.html">Home</a>
    <a href="{% url 'store' %}">Shop</a>
    <span>Check Out</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    
    
    <section class="checkout spad">
    <div class="container">
    <div class="checkout__form">
    
    <div class="row">
    <div class="col-lg-8 col-md-6">
   
    <h6 class="checkout__title">Billing Details</h6>
    
    
    <div class="row mt-5" >
        <div class="card">
            <div class="card-header">
              Billing address
            </div>
            <div class="card-body">
              
              <p class="card-text">
                {{order.full_name}}
              </p>
              <p class="card-text">
                {{order.full_address}}
              </p>
              <p class="card-text">
                {{order.city}},{{order.state}}
              </p>
              <p class="card-text">
                {{order.Phone}}
              </p>
              <p class="card-text">
                {{order.pincode}}
              </p>
              
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              Payment method
            </div>
            <div class="card-body">
              
              <p class="card-text">COD</p>
              
            </div>
          </div>  
    
    </div>
    
    
   
    
      
           
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="checkout__order">
    <h4 class="order__title">Your order</h4>
    <div class="checkout__order__products d-flex justify-content-between">  <div>Product</div>  <div>Quantity</div> <div>Total</div></div>
    {% for cart_item in cart_items %}
    <ul class="checkout__total__products">
    <li><img src = "{{ cart_item.product.image.url}}" class = "w-25 float-start" style="margin-right:5rem">{{cart_item.quantity}} <span>${{cart_item.product.price}}</span></li>
    {% endfor %} 
    </ul>
    <ul class="checkout__total__all">
        <li>Total <span>${{total}}</span></li>
    <li>Tax <span>${{tax}}</span></li>
    <li><b>Grand Total <span>${{grand_total}}</span></b></li>
    </ul>
    <div class="checkout__input__checkbox">
           
    
    
    
    
      <a href="{% url 'confirmorder' order_number=order.order_number %}" class="site-btn text-center">CONFIRM ORDER</a>
    

    
    
    </div>
    </div>
    </div>
    
    </div>
    </div>
    </section>
    {% endblock %}